@(message: String)
@main("Welcome to Play 2.1") {
<div id="homeIntroText">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit justo, malesuada ac volutpat at, pulvinar eget lacus. Nullam varius dictum ligula, ut euismod diam feugiat sed. Sed pulvinar interdum tincidunt. Praesent porttitor, urna eu mollis sodales, sem mi commodo nulla, a placerat enim nisi sed nibh. Sed tristique, magna id placerat tempor, sapien quam molestie lacus, a pellentesque nisl lorem eget dui. Proin ultricies lectus in mi facilisis posuere. Etiam commodo tortor eget massa scelerisque pellentesque. Curabitur eu nulla nisi.
    </p>
    <p>
        Integer et lectus a est interdum consectetur. Proin semper porttitor metus, in ultrices odio lacinia ac. Pellentesque sit amet felis a metus fringilla cursus. Vivamus eget sem nec mi congue accumsan. Phasellus molestie tempor tortor, at placerat diam posuere ut. Phasellus convallis leo ut neque suscipit in ultricies ante consequat. Donec faucibus sapien nec tellus hendrerit pulvinar. Cras enim tellus, malesuada sed venenatis et, vehicula nec metus. Morbi lacus risus, iaculis non mollis in, dignissim in purus. Morbi in fringilla diam. Duis pharetra commodo purus sed tempus. Donec vitae quam mauris. Suspendisse potenti. Nullam congue aliquet laoreet. Curabitur eget dolor nunc, quis ornare risus.
    </p>
    <p>
        Mauris volutpat, urna eu rhoncus eleifend, diam elit auctor diam, non aliquam sapien lectus vel est. Morbi volutpat condimentum arcu, non mattis sem vestibulum at. Nullam nisl dui, venenatis in dapibus quis, laoreet ac turpis. Cras tempor, magna mattis facilisis congue, mi arcu imperdiet nibh, vel commodo justo purus ac dolor. Cras lorem elit, tincidunt vel ultrices et, elementum non magna. Curabitur a ligula justo. Aliquam vulputate massa a mi malesuada a laoreet tellus sodales.
    </p>
    <p>
        Sed sed facilisis elit. Nullam nec dui felis. Donec nisi arcu, commodo a convallis vel, gravida sit amet tortor. Donec egestas euismod gravida. Donec viverra gravida libero et tempus. Sed quis tempus mi. Vivamus volutpat, odio ac ullamcorper sodales, ligula augue fringilla ipsum, a ullamcorper massa nunc et neque. Sed congue augue non sem semper varius.
    </p>
    <p>
        In vel massa a libero vulputate tristique vel ac nunc. Aliquam at volutpat ipsum. Vestibulum aliquam viverra fringilla. Sed porta vehicula velit, et mattis massa pulvinar vitae. Nulla blandit pulvinar purus ut blandit. Vestibulum nibh metus, molestie non tincidunt id, facilisis mollis elit. Curabitur eros nisi, dignissim lobortis vestibulum quis, egestas nec nulla. Pellentesque vitae lorem sit amet tortor auctor facilisis. Aliquam nunc felis, venenatis id fringilla sit amet, aliquam a nibh. Aliquam vestibulum pellentesque nibh, ut lacinia dolor aliquet a. Curabitur et arcu sed mi auctor consequat. Pellentesque fermentum lorem eu risus interdum sed tincidunt eros fermentum. Cras aliquam nisi vel libero tempor tempor
    </p>
</div>
<div id="homeIntroVideo">
    <iframe width="320" height="215" src="http://www.youtube.com/embed/QH2-TGUlwu4" frameborder="0" allowfullscreen></iframe><br/>
    <div>
        <div class="loginButton">
            <a href="https://graph.facebook.com/oauth/authorize?type=user_agent&client_id=422574577834794
                &redirect_uri=http://thom.dryves.nl:9000/facebook/index
                &scope=user_photos,user_videos,email,user_birthday,
                offline_access,publish_stream,status_update">
                <img src="/assets/images/fblogin.png" />
            </a>
        </div>
    </div>
</div>
}
